bcrypt==4.2.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.2
mysql-connector-python==9.1.0
numpy==2.1.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.2
Werkzeug==3.0.4
Brotli==1.1.0
cffi==1.17.1
chardet==5.2.0
cssselect2==0.7.0
fonttools==4.55.0
Pillow==10.0.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
reportlab==4.2.5
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==63.0
webencodings==0.5.1
zopfli==0.2.3.post1
