{% extends "base.html" %}

<!-- =============== Title ================ -->
{% block title %}Admin | Dashboard{% endblock %}

<!-- =============== Sidebars ================ -->
{% block sidebar %}
<li class="active">
  <a href="admin">
    <span class="icon">
      <ion-icon name="grid-outline"></ion-icon>
    </span>
    <span class="title">DASHBOARD</span>
  </a>
</li>
<li>
  <a href="adminMaintenance">
    <span class="icon">
      <ion-icon name="cog-outline"></ion-icon>
    </span>
    <span class="title">MAINTENANCE</span>
  </a>
</li>
<li>
  <a href="adminUser">
    <span class="icon">
      <ion-icon name="person-outline"></ion-icon>
    </span>
    <span class="title">USERS</span>
  </a>
</li>
<li>
  <a href="adminUpload">
    <span class="icon">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </span>
    <span class="title">UPLOAD</span>
  </a>
</li>
<li>
  <a href="adminArchive">
    <span class="icon">
      <ion-icon name="archive-outline"></ion-icon>
    </span>
    <span class="title">ARCHIVE</span>
  </a>
</li>
{% endblock %}

<!-- =============== Flash Message ================ -->
{% block popupmessage %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div id="flash-message" class="info">
  <div class="info__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
      <path fill="#393a37"
        d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z">
      </path>
    </svg>
  </div>
  <div class="info__title">{{ message }}</div>
  <div class="info__close">
    <svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
        fill="#393a37"></path>
    </svg>
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}

<!-- =============== Main Content ================ -->
{% block main %}

<div class="content">
  <!-- ====== Welcome Note ====== -->
  <div class="partOne">
    {% if admin_info %}
    <h1 style="text-transform: uppercase;">Welcome, Admin {{ admin_info['FirstName'] }} {{ admin_info['LastName'] }}!
    </h1>
    {% else %}
    <h1>ERROR FETCHING USERNAME</h1>
    {% endif %}
  </div>

  <!-- ====== Cards for Total Numbers ====== -->
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers">{{ '%02d' % student_count }}</div>
        <div class="cardName">STUDENTS</div>
      </div>
      <div class="iconBx">
        <ion-icon name="people-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{ '%02d' % professor_count }}</div>
        <div class="cardName">PROFESSORS</div>
      </div>
      <div class="iconBx">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{ '%02d' % subject_count }}</div>
        <div class="cardName">SUBJECTS</div>
      </div>
      <div class="iconBx">
        <ion-icon name="library-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">{{ '%02d' % admin_count }}</div>
        <div class="cardName">ADMINS</div>
      </div>
      <div class="iconBx">
        <ion-icon name="finger-print-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="dashboardOne">
    <div class="graph">
      <div class="cardHeader">
        <h2>PREDICTION OVERVIEW</h2>
      </div>
      <div class="polarGraph">
        <canvas id="polarAreaChart"></canvas>
      </div>
    </div>

    <div class="dashboardTwo newData-two">
      <div class="cardHeader">
        <h2>FACTORS INFLUENCING GRADUATION PREDICTIONS</h2>
      </div>
      <div class="barGraph">
        <canvas id="factorInfluenceChart"></canvas>
      </div>
    </div>

    <div class="dashboardThree newData-three">
      <div class="cardHeader">
        <h2 id="carouselTitle">[ DASHBOARD TITLE TWO ]</h2>
        <div class="carousel-controls">
          <button onclick="prevSlide()">&#10094;</button>
          <button onclick="nextSlide()">&#10095;</button>
        </div>
      </div>
      <div class="dashboardCenter">
        <div id="carouselContent" class="carousel-content">
          <p>Hello World</p>
        </div>
      </div>
      <div class="cardFooter">
        <div class="footer-flex">
          <div class="inputData">
            <!-- CREATE INTERVENTIONS button (Only for 'Students at Risk') -->
            <form action="{{ url_for('views.perform_academic_intervention') }}" method="POST" id="interventionForm">
              <button type="submit" class="btns">PROCESS INTERVENTIONS</button>
            </form>
          </div>
          <div class="inputData">
            <form action="{{ url_for('views.add_alerts') }}" method="POST" id="alertForm" style="display: none;">
              <button type="submit" class="btns">ALERT STUDENTS</button>
            </form>
          </div>

          <!-- Pagination controls -->
          <div class="pagination">
            <button id="prevPageButton" onclick="changePage(-1)">Previous</button>
            <span id="pageNumber">Page 1</span>
            <button id="nextPageButton" onclick="changePage(1)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cardBox2">
    <div class="card">
      <div class="cardName">GENDER DISTRIBUTION</div>
      <div class="miniGraph">
        <canvas id="donutChartGenderCount"></canvas>
      </div>
    </div>

    <div class="card">
      <div>
        <div class="cardName">TOTAL INTERVENTIONS IMPLEMENTED</div>
        <br>
        <div class="intervention">
          <div class="numbers circle red">{{ academic_intervention_count }}</div>
          <div class="cardName">Academic Interventions</div>
        </div>

        <div class="intervention">
          <div class="numbers circle blue">{{ behavioral_intervention_count }}</div>
          <div class="cardName">Behavioral Interventions</div>
        </div>

        <div class="intervention">
          <div class="numbers circle yellow">{{ socioeconomic_intervention_count }}</div>
          <div class="cardName">Socioeconomic Interventions</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  const graduationStatusCounts = JSON.parse('{{ graduation_status_counts | tojson | safe }}');

  const onTimeCount = graduationStatusCounts.on_time;         // Get count of students graduating on time
  const notOnTimeCount = graduationStatusCounts.not_on_time;  // Get count of students not graduating on time
  const notPredictedCount = graduationStatusCounts.not_predicted; // Get count of students with no prediction

  // Now you can use these counts in your polar area chart data
  const ctx = document.getElementById('polarAreaChart').getContext('2d');

  const polarAreaChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
      labels: ['Graduating On Time', 'Will Not Graduate On Time', 'Status Not Predicted'],
      datasets: [{
        label: 'Student Graduation Status',
        data: [onTimeCount, notOnTimeCount, notPredictedCount],
        backgroundColor: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 99, 132, 0.5)', 'rgba(255, 206, 86, 0.5)'],
        borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 206, 86, 1)'],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          position: 'bottom',
          labels: {
            font: {
              size: 10,
            }
          }
        },
        tooltip: {
          callbacks: {
            label: function (tooltipItem) {
              return tooltipItem.label + ': ' + tooltipItem.raw + ' Students';
            }
          }
        }
      },
      scales: {
        r: {
          ticks: {
            display: true,
            color: '#999',
            font: {
              size: 10, // Font size for radial ticks
            }
          }
        }
      }
    }
  });
</script>

<script>
  const itemsPerPage = 7;

  const carouselData = [
    {
      title: "STUDENTS AT RISK",
      data: JSON.parse('{{ student_risk | tojson | safe }}')
    },
    {
      title: "STUDENTS WITHOUT PREDICTION",
      data: JSON.parse('{{ students_without_prediction | tojson | safe }}')
    },
    {
      title: "STUDENTS GRADUATING ON TIME",
      data: JSON.parse('{{ students_graduating_on_time | tojson | safe }}')
    }
  ];

  let currentSlide = 0;
  let currentPage = 1;

  function generateTable(data) {
    const start = (currentPage - 1) * itemsPerPage;
    const paginatedData = data.slice(start, start + itemsPerPage);
    const isGraduatingOnTimeSlide = carouselData[currentSlide].title === "STUDENTS GRADUATING ON TIME";
    const isWithoutPredictionSlide = carouselData[currentSlide].title === "STUDENTS WITHOUT PREDICTION";

    // Check if there are no students in the data
    if (data.length === 0) {
      return `
      <div class="no-data-message">
        <p>No students available for this category.</p>
      </div>
    `;
    }

    let tableContent = `
    <div class="classifiers">
        <div class="tbl-content">
            <table>
                <thead>
                    <tr class="bgTr">
                        <th class="centerUpdateDashboard">STUDID</th>
                        <th class="centerUpdateDashboard">STUDENT NAME</th>
                        ${isGraduatingOnTimeSlide || isAtRiskSlide ? `
                            <th class="centerUpdateDashboard">PERCENTAGE</th>
                        ` : ""}
                        ${isGraduatingOnTimeSlide || isWithoutPredictionSlide || isAtRiskSlide ? "" : `
                            <th class="centerUpdateDashboard">FACTORS</th>
                            <th class="centerUpdateDashboard">INTERVENTION</th>
                        `}
                    </tr>
                </thead>
                <tbody>
`;

    paginatedData.forEach(item => {
      tableContent += `
        <tr class="highlight-row">
        <td class="centerUpdateDashboard" data-label="STUDID">${item.id}</td>
        <td class="centerUpdateDashboard" data-label="STUDENT NAME">${item.name}</td>
        ${isGraduatingOnTimeSlide || isAtRiskSlide ? `
            <td class="centerUpdateDashboard" data-label="PERCENTAGE">${item.percentage || ""}</td>
        ` : ""}
        ${isGraduatingOnTimeSlide || isWithoutPredictionSlide || isAtRiskSlide ? "" : `
            <td class="centerUpdateDashboard" data-label="FACTOR">${item.factor || ""}</td>
            <td class="centerUpdateDashboard" data-label="INTERVENTION">${item.intervention || ""}</td>
        `}
      </tr>
    `;
    });

    tableContent += `
        </tbody>
    </table>
    </div>
</div>
`;

    return tableContent;



  }

  function changePage(direction) {
    const totalPages = Math.ceil(carouselData[currentSlide].data.length / itemsPerPage);
    currentPage += direction;

    // Ensure the page number is within bounds
    if (currentPage < 1) currentPage = 1;
    if (currentPage > totalPages) currentPage = totalPages;

    updateCarousel();
    document.getElementById("pageNumber").textContent = `Page ${currentPage}`;
    document.getElementById("prevPageButton").disabled = currentPage === 1;
    document.getElementById("nextPageButton").disabled = currentPage === totalPages;
  }

  function updateCarousel() {
    document.getElementById("carouselTitle").innerText = carouselData[currentSlide].title;
    document.getElementById("carouselContent").innerHTML = generateTable(carouselData[currentSlide].data);

    // Show/hide the CREATE INTERVENTIONS button
    document.getElementById("interventionForm").style.display =
      carouselData[currentSlide].title === "STUDENTS AT RISK" ? "block" : "none";

    // Show/hide the ALERT STUDENTS button
    document.getElementById("alertForm").style.display =
      carouselData[currentSlide].title === "STUDENTS WITHOUT PREDICTION" ? "block" : "none";

    // Toggle pagination alignment for "STUDENTS GRADUATING ON TIME" slide
    const pagination = document.querySelector(".pagination");
    if (carouselData[currentSlide].title === "STUDENTS GRADUATING ON TIME") {
      pagination.classList.add("pagination-right");
    } else {
      pagination.classList.remove("pagination-right");
    }
  }

  function prevSlide() {
    currentSlide = (currentSlide - 1 + carouselData.length) % carouselData.length;
    currentPage = 1;
    updateCarousel();
    document.getElementById("pageNumber").textContent = `Page ${currentPage}`;
    document.getElementById("prevPageButton").disabled = true;
    document.getElementById("nextPageButton").disabled = false;
  }

  function nextSlide() {
    currentSlide = (currentSlide + 1) % carouselData.length;
    currentPage = 1;
    updateCarousel();
    document.getElementById("pageNumber").textContent = `Page ${currentPage}`;
    document.getElementById("prevPageButton").disabled = true;
    document.getElementById("nextPageButton").disabled = false;
  }

  // Initial content display
  updateCarousel();
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const factorData = JSON.parse('{{ factor_counts | tojson | safe }}');
    const labels = factorData.map(factor => factor.FactorName);
    const data = factorData.map(factor => factor.FactorCount);

    // Define your colors for the bars
    const backgroundColors = [
      'rgba(54, 162, 235, 0.5)',  // Color for the first bar
      'rgba(255, 99, 132, 0.5)',   // Color for the second bar
      'rgba(255, 206, 86, 0.5)'    // Color for the third bar
    ];

    const ctx = document.getElementById("factorInfluenceChart").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "",  // Remove dataset label
          data: data,
          backgroundColor: backgroundColors,  // Use the colors array
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            display: false,  // Remove legend
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                const index = tooltipItem.dataIndex; // Get the index of the bar
                const numberOfStudents = data[index]; // Get the number of students for that bar
                return `${labels[index]}: ${numberOfStudents} Students`; // Customize tooltip text
              }
            }
          }
        }
      }
    });
  });
</script>

<script>
  fetch('/gender-count')
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('donutChartGenderCount').getContext('2d');

      const donutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: data.labels, // Original labels (Male, Female)
          datasets: [{
            label: 'Gender Count',
            data: data.counts,
            backgroundColor: ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)'],
            borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
            borderWidth: 1,
            hoverOffset: 3
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: true,
              position: 'bottom', // Set legend position to bottom
              align: 'center',     // Align to center
              labels: {
                boxWidth: 20, // Box width for legend items
                padding: 15    // Space between items
              }
            },
            tooltip: {
              callbacks: {
                label: function (tooltipItem) {
                  const label = tooltipItem.label || ''; // Get the original label
                  const count = tooltipItem.raw || 0; // Get the count for this segment
                  return `${label}: ${count} Students`; // Customize tooltip text
                }
              }
            },
          }
        }
      });
    });
</script>

{% endblock %}