<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/plpLogo.svg') }}">
    <title>{% block title %}BASE{% endblock %}</title>
</head>

<body>

    <!-- Loading Screen -->
    <div class="loader"></div>

    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="{{ url_for('static', filename='images/plpLogo.svg') }}" alt="PLP Logo">
                        </span>
                        <span class="title titlePlp">PLP SYSTEM</span>
                    </a>
                </li>

                {% block sidebar %}
                <li class="active">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="grid-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                {% endblock %}
                <li>
                    <a href="{{ url_for('auth.logout') }}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">SIGN OUT</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">

            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                {% block popupmessage %}

                {% endblock %}

                <div class="profile">
                    
                </div>

                
            </div>

            {% block main %}

            {% endblock %}

        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript">
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");
    
            // Immediately hide loader
            loader.classList.add("loader--hidden");
    
            loader.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        });
    </script>
    
</body>

</html>
