{% extends "base.html" %}

<!-- =============== Title ================ -->
{% block title %}Home{% endblock %}

<!-- =============== Sidebars ================ -->
{% block sidebar %}
<li class="active">
  <a href="base">
    <span class="icon">
      <ion-icon name="grid-outline"></ion-icon>
    </span>
    <span class="title">DASHBOARD</span>
  </a>
</li>
<li>
  <a href="admin">
    <span class="icon">
      <ion-icon name="cog-outline"></ion-icon>
    </span>
    <span class="title">MAINTENANCE</span>
  </a>
</li>
<li>
  <a href="#">
    <span class="icon">
      <ion-icon name="person-outline"></ion-icon>
    </span>
    <span class="title">USERS</span>
  </a>
</li>
{% endblock %}

<!-- =============== Main Content ================ -->
{% block main %}
<div class="content">
  <!-- ====== Welcome Note ====== -->
  <div class="partOne">
    {% if student_info %}
      <h1>Welcome, {{ student_info['FirstName'] }}</h1>
    {% else %}
    <h1>ERROR FETCHING USERNAME</h1>
    {% endif %}
  </div>

  <!-- ====== Cards for Total Numbers ====== -->
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers">000</div>
        <div class="cardName">STUDENTS</div>
      </div>

      <div class="iconBx">
        <ion-icon name="people-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">101</div>
        <div class="cardName">PROFESSORS</div>
      </div>

      <div class="iconBx">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">202</div>
        <div class="cardName">SUBJECTS</div>
      </div>

      <div class="iconBx">
        <ion-icon name="library-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers">303</div>
        <div class="cardName">ADMINS</div>
      </div>

      <div class="iconBx">
        <ion-icon name="finger-print-outline"></ion-icon>
      </div>
    </div>
  </div>

  <!-- ====== List of Everything ====== -->
  <div class="listContent">
    <div class="listTitle">
      <h3>List of Students</h3>
    </div>
  </div>
</div>
{% endblock %}
