{% extends "base.html" %}

<!-- =============== Title ================ -->
{% block title %}PLP System | Behavioral Survey{% endblock %}

<!-- =============== Sidebars ================ -->
{% block sidebar %}
<li>
  <a href="studentsHome">
    <span class="icon">
      <ion-icon name="home-outline"></ion-icon>
    </span>
    <span class="title">HOME</span>
  </a>
</li>
<li>
  <a href="students">
    <span class="icon">
      <ion-icon name="newspaper-outline"></ion-icon>
    </span>
    <span class="title">GRADES</span>
  </a>
</li>
<li>
  <a href="studentsExplore">
    <span class="icon">
      <ion-icon name="sparkles-outline"></ion-icon>
    </span>
    <span class="title">EXPLORE</span>
  </a>
</li>
<li class="active">
    <a href="studentsBehavioral">
      <span class="icon">
        <ion-icon name="bulb-outline"></ion-icon>
      </span>
      <span class="title">SURVEY</span>
    </a>
</li>
<li>
  <a href="{{ 'studentsIntervention' if prediction_info == 'WILL NOT GRADUATE ON TIME' else 'studentsEvent' }}">
    <span class="icon">
      <ion-icon name="calendar-clear-outline"></ion-icon>
    </span>
    <span class="title">{{ 'INTERVENTIONS' if prediction_info == 'WILL NOT GRADUATE ON TIME' else 'EVENTS' }}</span>
  </a>
</li>
{% endblock %}

<!-- =============== Flash Message ================ -->
{% block popupmessage %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div id="flash-message" class="info">
  <div class="info__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
      <path fill="#393a37"
        d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z">
      </path>
    </svg>
  </div>
  <div class="info__title">{{ message }}</div>
  <div class="info__close">
    <svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
        fill="#393a37"></path>
    </svg>
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}

<!-- =============== Main Content ================ -->
{% block main %}
<div class="content">
  <div class="exploreTitle">
    <h1>STUDENT BEHAVIORAL SURVEY</h1>
    <div class="survey-section">
      <form method="POST" action="{{ url_for('views.studentBehavioral') }}" onsubmit="return validateForm()">
    <!-- Section 1: Study Habits -->
<div class="section">
  <h2 class="sectioning">SECTION 01: STUDY HABITS</h2>
  <div class="questions">
    <div class="thequestion">
      <h4>How many hours do you spend studying per week?</h4><br>
    </div>
    <label><input type="radio" name="study_hours" value="Less than 5 hours" {% if form_data.StudyHours == "Less than 5 hours" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Less than 5 hours</label><br>
    <label><input type="radio" name="study_hours" value="5-10 hours" {% if form_data.StudyHours == "5-10 hours" %}checked{% endif %} {% if form_data %}disabled{% endif %}> 5-10 hours</label><br>
    <label><input type="radio" name="study_hours" value="11-15 hours" {% if form_data.StudyHours == "11-15 hours" %}checked{% endif %} {% if form_data %}disabled{% endif %}> 11-15 hours</label><br>
    <label><input type="radio" name="study_hours" value="16-20 hours" {% if form_data.StudyHours == "16-20 hours" %}checked{% endif %} {% if form_data %}disabled{% endif %}> 16-20 hours</label><br>
    <label><input type="radio" name="study_hours" value="More than 20 hours" {% if form_data.StudyHours == "More than 20 hours" %}checked{% endif %} {% if form_data %}disabled{% endif %}> More than 20 hours</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>How often do you use effective study strategies? (e.g., Summarizing notes, Practicing past papers)</h4><br>
    </div>
    <label><input type="radio" name="study_strategies" value="Never" {% if form_data.StudyStrategies == "Never" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Never</label><br>
    <label><input type="radio" name="study_strategies" value="Rarely" {% if form_data.StudyStrategies == "Rarely" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Rarely</label><br>
    <label><input type="radio" name="study_strategies" value="Sometimes" {% if form_data.StudyStrategies == "Sometimes" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Sometimes</label><br>
    <label><input type="radio" name="study_strategies" value="Often" {% if form_data.StudyStrategies == "Often" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Often</label><br>
    <label><input type="radio" name="study_strategies" value="Always" {% if form_data.StudyStrategies == "Always" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Always</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>Do you have a regular study schedule?</h4><br>
    </div>
    <label><input type="radio" name="study_schedule" value="Yes" {% if form_data.RegularStudySchedule == "Yes" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Yes</label><br>
    <label><input type="radio" name="study_schedule" value="No" {% if form_data.RegularStudySchedule == "No" %}checked{% endif %} {% if form_data %}disabled{% endif %}> No</label>
  </div>
</div>

<!-- Section 2: Attendance and Participation -->
<div class="section">
  <h2 class="sectioning">SECTION 02: ATTENDANCE AND PARTICIPATION</h2>
  <div class="questions">
    <div class="thequestion">
      <h4>What is your average class attendance rate?</h4><br>
    </div>
    <label><input type="radio" name="attendance_rate" value="Less than 50%" {% if form_data.AttendanceRate == "Less than 50%" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Less than 50%</label><br>
    <label><input type="radio" name="attendance_rate" value="50-70%" {% if form_data.AttendanceRate == "50-70%" %}checked{% endif %} {% if form_data %}disabled{% endif %}> 50-70%</label><br>
    <label><input type="radio" name="attendance_rate" value="71-90%" {% if form_data.AttendanceRate == "71-90%" %}checked{% endif %} {% if form_data %}disabled{% endif %}> 71-90%</label><br>
    <label><input type="radio" name="attendance_rate" value="More than 90%" {% if form_data.AttendanceRate == "More than 90%" %}checked{% endif %} {% if form_data %}disabled{% endif %}> More than 90%</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>How actively do you participate in class discussions and activities?</h4><br>
    </div>
    <label><input type="radio" name="participation" value="Not at all" {% if form_data.ClassParticipation == "Not at all" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Not at all</label><br>
    <label><input type="radio" name="participation" value="Slightly" {% if form_data.ClassParticipation == "Slightly" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Slightly</label><br>
    <label><input type="radio" name="participation" value="Moderately" {% if form_data.ClassParticipation == "Moderately" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Moderately</label><br>
    <label><input type="radio" name="participation" value="Very actively" {% if form_data.ClassParticipation == "Very actively" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Very actively</label><br>
    <label><input type="radio" name="participation" value="Extremely actively" {% if form_data.ClassParticipation == "Extremely actively" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Extremely actively</label>
  </div>
</div>

<!-- Section 3: Time Management -->
<div class="section">
  <h2 class="sectioning">SECTION 03: TIME MANAGEMENT</h2>
  <div class="questions">
    <div class="thequestion">
      <h4>How would you rate your ability to manage your time between studies and other activities?</h4><br>
    </div>
    <label><input type="radio" name="time_management" value="Poor" {% if form_data.TimeManagementRating == "Poor" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Poor</label><br>
    <label><input type="radio" name="time_management" value="Fair" {% if form_data.TimeManagementRating == "Fair" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Fair</label><br>
    <label><input type="radio" name="time_management" value="Good" {% if form_data.TimeManagementRating == "Good" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Good</label><br>
    <label><input type="radio" name="time_management" value="Very Good" {% if form_data.TimeManagementRating == "Very Good" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Very Good</label><br>
    <label><input type="radio" name="time_management" value="Excellent" {% if form_data.TimeManagementRating == "Excellent" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Excellent</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>How often do you meet your study deadlines?</h4><br>
    </div>
    <label><input type="radio" name="study_deadlines" value="Never" {% if form_data.StudyDeadlinesFrequency == "Never" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Never</label><br>
    <label><input type="radio" name="study_deadlines" value="Rarely" {% if form_data.StudyDeadlinesFrequency == "Rarely" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Rarely</label><br>
    <label><input type="radio" name="study_deadlines" value="Sometimes" {% if form_data.StudyDeadlinesFrequency == "Sometimes" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Sometimes</label><br>
    <label><input type="radio" name="study_deadlines" value="Often" {% if form_data.StudyDeadlinesFrequency == "Often" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Often</label><br>
    <label><input type="radio" name="study_deadlines" value="Always" {% if form_data.StudyDeadlinesFrequency == "Always" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Always</label>
  </div>
</div>

<!-- Section 4: Motivation and Engagement -->
<div class="section">
  <h2 class="sectioning">SECTION 04: MOTIVATION AND ENGAGEMENT</h2>
  <div class="questions">
    <div class="thequestion">
      <h4>How motivated are you to complete your coursework and assignments?</h4><br>
    </div>
    <label><input type="radio" name="motivation" value="Not motivated" {% if form_data.MotivationLevel == "Not motivated" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Not motivated</label><br>
    <label><input type="radio" name="motivation" value="Slightly motivated" {% if form_data.MotivationLevel == "Slightly motivated" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Slightly motivated</label><br>
    <label><input type="radio" name="motivation" value="Moderately motivated" {% if form_data.MotivationLevel == "Moderately motivated" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Moderately motivated</label><br>
    <label><input type="radio" name="motivation" value="Very motivated" {% if form_data.MotivationLevel == "Very motivated" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Very motivated</label><br>
    <label><input type="radio" name="motivation" value="Extremely motivated" {% if form_data.MotivationLevel == "Extremely motivated" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Extremely motivated</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>How engaged are you with your coursework (e.g., actively seeking to understand the material beyond assignments)?</h4><br>
    </div>
    <label><input type="radio" name="engagement" value="Not engaged" {% if form_data.EngagementLevel == "Not engaged" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Not engaged</label><br>
    <label><input type="radio" name="engagement" value="Slightly engaged" {% if form_data.EngagementLevel == "Slightly engaged" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Slightly engaged</label><br>
    <label><input type="radio" name="engagement" value="Moderately engaged" {% if form_data.EngagementLevel == "Moderately engaged" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Moderately engaged</label><br>
    <label><input type="radio" name="engagement" value="Very engaged" {% if form_data.EngagementLevel == "Very engaged" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Very engaged</label><br>
    <label><input type="radio" name="engagement" value="Extremely engaged" {% if form_data.EngagementLevel == "Extremely engaged" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Extremely engaged</label>
  </div>
</div>

<!-- Section 5: Stress and Coping Mechanisms -->
<div class="section">
  <h2 class="sectioning">SECTION 05: STRESS AND COPING MECHANISMS</h2>
  <div class="questions">
    <div class="thequestion">
      <h4>How often do you feel stressed about your academic workload?</h4><br>
    </div>
    <label><input type="radio" name="stress_level" value="Never" {% if form_data.StressFrequency == "Never" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Never</label><br>
    <label><input type="radio" name="stress_level" value="Rarely" {% if form_data.StressFrequency == "Rarely" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Rarely</label><br>
    <label><input type="radio" name="stress_level" value="Sometimes" {% if form_data.StressFrequency == "Sometimes" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Sometimes</label><br>
    <label><input type="radio" name="stress_level" value="Often" {% if form_data.StressFrequency == "Often" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Often</label><br>
    <label><input type="radio" name="stress_level" value="Always" {% if form_data.StressFrequency == "Always" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Always</label>
  </div>
  <div class="questions">
    <div class="thequestion">
      <h4>How effective are your current coping strategies for managing academic stress?</h4><br>
    </div>
    <label><input type="radio" name="coping_effectiveness" value="Not effective" {% if form_data.CopingEffectiveness == "Not effective" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Not effective</label><br>
    <label><input type="radio" name="coping_effectiveness" value="Slightly effective" {% if form_data.CopingEffectiveness == "Slightly effective" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Slightly effective</label><br>
    <label><input type="radio" name="coping_effectiveness" value="Moderately effective" {% if form_data.CopingEffectiveness == "Moderately effective" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Moderately effective</label><br>
    <label><input type="radio" name="coping_effectiveness" value="Very effective" {% if form_data.CopingEffectiveness == "Very effective" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Very effective</label><br>
    <label><input type="radio" name="coping_effectiveness" value="Extremely effective" {% if form_data.CopingEffectiveness == "Extremely effective" %}checked{% endif %} {% if form_data %}disabled{% endif %}> Extremely effective</label>
  </div>
</div>

<!-- Add more sections as needed -->

{% if not form_data %}
<button type="submit">SUBMIT</button>
{% endif %}
</form>
</div>

  </div>
</div>

<!-- Modal structure -->
<!-- Modal structure -->
<div id="customPopup" class="popup-modal">
  <div class="popup-content-explore">
    <h3>Incomplete Survey</h3>
    <p id="popupText">Please ensure that all sections of the survey are completed before submitting.</p>
    <div class="popup-buttons">
      <button id="confirmButton" class="cancel-btn">Continue</button>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
  const form = document.querySelector("form");
  const popup = document.getElementById("customPopup");
  const confirmButton = document.getElementById("confirmButton");
  
  // Validate form to check if all questions are answered
  function validateForm() {
    const questions = document.querySelectorAll(".question");
    let allAnswered = true;

    for (const question of questions) {
      const selected = question.querySelector('input[type="radio"]:checked');
      if (!selected) {
        allAnswered = false;
        break; // No need to continue checking
      }
    }

    return allAnswered;
  }

  // Show the popup modal
  function showPopup() {
    popup.classList.add("show");
  }

  // Hide the popup modal
  function hidePopup() {
    popup.classList.remove("show");
  }

  // Handle the confirm button click
  function handleConfirm() {
    hidePopup();
    // Optionally, scroll to the first question or take other actions
    document.querySelector(".question").scrollIntoView();
  }

  // Prevent form submission if validation fails
  form.addEventListener("submit", function (event) {
    if (!validateForm()) {
      event.preventDefault(); // Prevent form submission
      showPopup();
    }
  });

  // Add click listener to confirm button
  confirmButton.addEventListener("click", handleConfirm);

  // Close the modal if clicking outside of it
  window.addEventListener("click", function (event) {
    if (event.target === popup) {
      hidePopup();
    }
  });
});

</script>


    
{% endblock %}
    